


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     <br/>
      <br/>
    <div>
       <a href="/Ticket/viewBookingDetails">View</a>

    </div>
    <br/>
    <form action="/Ticket/BookTicket" method="GET">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Number Of Tickets</td>
                <td><input type="text" name="numberOfTickets" /></td>
            </tr>
            <tr>
                <td><input type="submit"  /></td>
            </tr>
        </table>
        

    </form>
</body>
</html>
